/* general */
*, *:before, *:after { box-sizing: border-box; }

body { background: #efefef; font: 16px/1.5 "Source Sans Pro", "Helvetica", "Microsoft YaHei", Arial, sans-serif; color: #3c3c3c; }

a { display: inline-block; text-decoration: none; color: #21bba6; }
a:hover { color: #126459; }

ul { margin: 0; padding: 0; list-style: none; }

dd { margin: 0; }

dt { font-weight: 600; }

dl { margin: 0 0 5px; }

.highlight { color: #21bba6; }

.main-title { margin: 25px 0; font-family: "museo-sans", "Helvetica", "Microsoft YaHei", Arial, sans-serif; font-weight: 500; text-transform: uppercase; }

.sub-title { margin: 0 0 10px; font-weight: 400; font-size: 22px; }

.desc { color: #787878; font-size: 15px; }

.desc p { margin: 0 0 5px; }

/* layout */
.paper { width: 940px; margin: 0 auto; padding: 40px 40px; overflow: hidden; background: white; }

/* header */
.header { overflow: hidden; padding-bottom: 20px; margin-bottom: 20px; border-bottom: 4px solid #b4b4b4; }

.name { margin: 0; font-family: "museo-sans", "Helvetica", "Microsoft YaHei", Arial, sans-serif; font-size: 48px; font-weight: 700; text-align: center; text-transform: uppercase; }

.name__last { font-weight: 100; }

.info { margin: 15px 0 0; text-align: center; font-size: 15px; }

.info a { color: #787878; }
.info a:hover { color: #21bba6; }

.info__item { display: inline-block; width: 30%; text-align: center; font-family: "museo-sans", "Helvetica", "Microsoft YaHei", Arial, sans-serif; }
.info__item:nth-child(1) { text-align: right; }
.info__item:nth-child(3) { text-align: left; }

.info__label { padding-right: 10px; }

/* body */
/* main */
.main { margin-right: 31%; overflow: hidden; }
.main a { text-decoration: underline; color: #787878; }
.main a:hover { color: #21bba6; }

.time { position: relative; width: 120px; padding: 10px 20px 0 0; border-right: 2px solid #b4b4b4; text-align: right; font-weight: 400; vertical-align: top; }
.time::after { position: absolute; right: -11px; /* right: -12px; */ /*Firefox*/ top: 12px; display: block; content: ""; width: 20px; height: 20px; background: #b4b4b4; border: 4px solid white; border-radius: 50%; }

.content { padding: 5px 0px 20px 20px; }

/* side */
.side { width: 26%; float: right; }

.label { width: 80px; padding-right: 10px; font-weight: 600; text-align: right; vertical-align: top; }

.value, .value a { color: #787878; }

.value a:hover { color: #21bba6; text-decoration: underline; }

.avatar { display: block; width: 150px; margin: 0 auto 20px; }

.level-1-10 { position: relative; margin-bottom: 12px; }
.level-1-10::after { position: absolute; left: 0; bottom: -2px; display: block; content: ""; height: 2px; width: 10%; background: #21bba6; }

.level-2-10 { position: relative; margin-bottom: 12px; }
.level-2-10::after { position: absolute; left: 0; bottom: -2px; display: block; content: ""; height: 2px; width: 20%; background: #21bba6; }

.level-3-10 { position: relative; margin-bottom: 12px; }
.level-3-10::after { position: absolute; left: 0; bottom: -2px; display: block; content: ""; height: 2px; width: 30%; background: #21bba6; }

.level-4-10 { position: relative; margin-bottom: 12px; }
.level-4-10::after { position: absolute; left: 0; bottom: -2px; display: block; content: ""; height: 2px; width: 40%; background: #21bba6; }

.level-5-10 { position: relative; margin-bottom: 12px; }
.level-5-10::after { position: absolute; left: 0; bottom: -2px; display: block; content: ""; height: 2px; width: 50%; background: #21bba6; }

.level-6-10 { position: relative; margin-bottom: 12px; }
.level-6-10::after { position: absolute; left: 0; bottom: -2px; display: block; content: ""; height: 2px; width: 60%; background: #21bba6; }

.level-7-10 { position: relative; margin-bottom: 12px; }
.level-7-10::after { position: absolute; left: 0; bottom: -2px; display: block; content: ""; height: 2px; width: 70%; background: #21bba6; }

.level-8-10 { position: relative; margin-bottom: 12px; }
.level-8-10::after { position: absolute; left: 0; bottom: -2px; display: block; content: ""; height: 2px; width: 80%; background: #21bba6; }

.level-9-10 { position: relative; margin-bottom: 12px; }
.level-9-10::after { position: absolute; left: 0; bottom: -2px; display: block; content: ""; height: 2px; width: 90%; background: #21bba6; }

.level-10-10 { position: relative; margin-bottom: 12px; }
.level-10-10::after { position: absolute; left: 0; bottom: -2px; display: block; content: ""; height: 2px; width: 100%; background: #21bba6; }

/* print hack */
@media print { body { background: white; }
  .paper { padding: 20px 40px; }
  .header { margin-bottom: 10px; }
  .main-title { margin: 20px 0; }
  .print-hide { display: none; } }
