$bgColor: rgb(239, 239, 239);
$baseFontColor: rgb(60, 60, 60);
$descFontColor: rgb(120, 120, 120);
$highlightFontColor: #44a8f2;
// $highlightFontColor: rgb(33, 187, 166);
// $hoverFontColor: rgb(16, 139, 122);
// $hoverFontColor: rgb(33, 187, 166);
$hoverFontColor: #44a8f2;
$lineColor: #e4e4e4;
$titleFontFamily: "museo-sans", "Helvetica", "Microsoft YaHei", Arial, sans-serif;

.grids {
  vertical-align: top;
  white-space: nowrap;
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}
@mixin grid($a, $b) {
  .grid-#{$a}-#{$b} {
    display: inline-block;
    width: $a / $b * 100%;
    white-space: normal;
    @media (max-width: 720px) {
      display: block;
      width: 100%;
    }
  }
}
@include grid(1, 2);
@include grid(1, 3);
@include grid(2, 3);
@include grid(1, 4);
@include grid(3, 4);
@include grid(1, 5);
@include grid(2, 5);
@include grid(3, 5);
@include grid(4, 5);
@include grid(1, 6);
@include grid(5, 6);
@include grid(1, 7);
@include grid(2, 7);
@include grid(3, 7);
@include grid(4, 7);
@include grid(5, 7);
@include grid(6, 7);
@include grid(1, 8);
@include grid(3, 8);
@include grid(5, 8);
@include grid(7, 8);

@mixin level() {
  $max: 10;
  $i: 1;
  @while $i <= $max {
    .level-#{$i}-#{$max} {
      position: relative;
      margin-bottom: 12px;
      &::after {
        position: absolute;
        left: 0;
        bottom: -2px;
        display: block;
        content: "";
        height: 2px;
        width: $i / $max * 100%;
        background: $highlightFontColor;
      }
    }
    $i: $i + 1;
  }
}
@include level();

/* general */
*, *:before, *:after {
  box-sizing: border-box;
}
body {
  background: $bgColor;
  font: 16px/1.5 "lato", "Helvetica", "Microsoft YaHei", Arial, sans-serif;
  color: $baseFontColor;
  padding: 15px;
}
a {
  display: inline-block;
  text-decoration: none;
  color: $highlightFontColor;
  &:hover {
    color: darken($highlightFontColor, 20%);
  }
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
dd {
  margin: 0;
  dt {
    font-weight: 600;
  }
  dl {
    margin: 0 0 5px;
  }
}
.highlight {
  color: $highlightFontColor;
}
.main-title {
  margin: 0 0 25px;
  font-family: $titleFontFamily;
  font-weight: 500;
  text-transform: uppercase;
}
.sub-title {
  margin: 0 0 10px;
  font-weight: 400;
  font-size: 22px;
}
.desc {
  color: $descFontColor;
  font-size: 15px;
   p {
    margin: 0 0 5px;
  }
}

/* layout */
.paper {
  width: 940px;
  margin: 0 auto;
  padding: 40px 40px;
  overflow: hidden;
  background: white;
}
.section {
  margin-bottom: 50px;
}
/* header */
.header {
  overflow: hidden;
  margin-bottom: 30px;
  border-bottom: 2px solid $lineColor;
  .name {
    margin: 0;
    font-family: $titleFontFamily;
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    .last {
      font-weight: 100;
    }
  }
  .info {
    text-align: center;
    font-size: 15px;
    a {
      color: $descFontColor;
      &:hover {
        color: $highlightFontColor;
      }
    }
    .item {
      margin: 15px 0;
      text-align: center;
      font-family: $titleFontFamily;
    }
    .label {
      padding-right: 10px;
    }
  }
}

/* body */
/* main */
.main {
  padding-right: 5%;
  a {
    text-decoration: underline;
    color: $descFontColor;
    &:hover {
      color: $hoverFontColor;
    }
  }
  .time {
    padding: 10px 20px 0 0;
    text-align: right;
    font-weight: 400;
    vertical-align: top;
    color: $descFontColor;
    font-size: 14px;
    span {
      display: block;
    }
  }
  .content {
    position: relative;
    padding: 5px 0px 20px 20px;
    border-left: 2px solid $lineColor;
    &::after {
      position: absolute;
      left: -11.5px;
      top: 12px;
      display: block;
      content: "";
      width: 20px;
      height: 20px;
      background: $lineColor;
      border: 4px solid white;
      border-radius: 50%;
    }
  }
}
/* side */
.side {
  float: right;
  .about {
    li {
      margin-bottom: 5px;
    }
  }
  .label {
    padding-right: 10px;
    text-align: right;
    vertical-align: top;
  }
  .value, .value a {
    color: $descFontColor;
  }
  .value a:hover {
    color: $hoverFontColor;
    text-decoration: underline;
  }
}
.avatar {
  display: block;
  max-width: 150px;
  margin: 0 auto 20px;
}


@media (max-width: 970px) {
  .paper {
    width: 100%;
  }
}

@media (max-width: 720px) {
  .paper {
    padding: 15px;
  }
  .main {
    padding-right: 0;
    .time {
      text-align: left;
      padding: 0 0 5px;
      span {
        display: inline-block;
        margin-right: 1em;
      }
    }
    .content {
      padding: 0 0 20px 0;
      border-left: none;
      &:after {
        display: none;
      }
    }
  }
  .side {
    float: none;
    .label {
      text-align: left;
    }
  }
  .avatar {
    margin: 0 0 20px;
  }
}
